<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Layout</title>
  <meta name="keyword" content="Findsuri, missing person, syrian">
  </meta>
  <!--Importing for icons-->
  <script defer src="assets/lib/fontawesome-all.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="layout.css">
 
</head>

<body data-spy="scroll" data-target=".site-nav" data-offset="50">

  <div class="col-12 ">
    <header id="page-hero" class="site-header d-flex flex-column align-content-between">

        <!--Header-->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <h1>Header Navigation</h1>
         </div> 
      </nav>
      
      <!--Home-->
      <section class="layout-hero d-flex align-items-center text-light text-center">
        <div class="container">
          <div class="row justify-content-center">
            <h2>Home Section</h2>
            <img src="http://via.placeholder.com/640x360 " class="img-fluid" style="padding-bottom: 10%;">
          </div>
        </div>    
      </section>
    </header>  
     <!--About-->
    <article id="page-nested" class="page-section ">
  
      <section class="layout-nested container-fluid vertical-padding">
        <div class="container">
           <div class="row justify-content-center">
          <h2 > About Section</h2>
           <!--Remove placeholder Img for content-->
          <img src="http://via.placeholder.com/640x360 " class="img-fluid" style="padding-bottom: 10%;">
          </div> 
        </div>  
      </section>
    </article>  

     <!--Program-->
    <article id="page-program" class="page-section">
  
      <section class="layout-nestedprogram container-fluid vertical-padding">
        <div class="container">
          <div class="row justify-content-center">
            <h2 > Program Section</h2>
               <!--Remove placeholder Img for content-->
            <img src="http://via.placeholder.com/640x360 " class="img-fluid" style="padding-bottom: 10%;">
          </div>
        </div>
        
      </section>
    </article>  

      <!--Contact Us-->  
    <article id="page-nested1" class="page-section">
  
      <section class="layout-nested1 container-fluid vertical-padding">
        <div class="container">
          <div class="row justify-content-center">
            <h2 >Contact Us Section</h2>
               <!--Remove placeholder Img for content-->
            <img src="http://via.placeholder.com/640x360 " class="img-fluid" style="padding-bottom: 10%;">
          </div>
        </div>
       
      </section>
    </article>

     <!--Footer-->
    <footer class="site-footer bg-secondary text-light">
      <div class="row justify-content-center">
  
        <section class="layout-social col-sm-9 col-md-10 col-lg-12 text-center ">
          <div class="container">
            <div class="row text-center ">
              <h2>Footer Section</h2>
            </div>
          </div>
        
        </section>
      </div>
    </footer>    
  </div>
  
     
</body>
</html>