@import url('https://fonts.googleapis.com/css2?family=Almarai:display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*---------------General Text--------------------------------------------------------*/
.Title{
  font-family: 'Almarai', sans-serif;
  font-size: 3.52em;;

}
.Text{
  font-family: 'Almarai', sans-serif;
  text-align: left;
  color:  #1689CA;;
 
}


/*-------Added for admin pages-------*/


.topMargin{
  margin-top: 10%;
}

.adminContent{
  margin-bottom: 5%;
}

.description{
  margin-left: 2%;
}

.noneLine{
  text-decoration: none;
}

li a:hover{
  color: #D6AC29;
}



.bold{
  font-weight: 800 !important;
  font-size: 1.3em !important;
}


/*----------------------------*/

/*----Body---*/

body {
  font-family: 'Tajawal';
  background-image: url('../images/background-colour.png');
  background-repeat: repeat; 
}

.page-section-text{
  font-weight: 400;
  padding-top: 2%;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: large;
  align-content: center;
}

.icon {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125;
  text-rendering: auto;
  fill: gray !important;
  width: 50px;
  height: 50px;
}

/*Full Header*/
header {
  background: url();
  font-family: 'Tajawal', sans-serif;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
 
}
/* Header class */
.site-header .animated {
  animation-delay: 2s;
  animation-duration: 1s;
}

.site-header  {

  text-align:center;
  font-family: 'Tajawal', sans-serif;
  font-weight:500;
  font-size: x-large;

  position: fixed;
  z-index: 1;
}
/*#video-viewport { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden; 
  z-index: -1; 
}
video { 
  display: block; 
  width: 100%; 
  height: auto; 
}

.inner{
  position: relative;
  align-content: flex-end;
  padding-top: 50%;
}*/
.videoBG{
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  border-top: #0065A1;
  
}

.site-header .nav-link {
  position:relative;
  padding-bottom: 0;
  margin-bottom: 2px;
  color: white;
}
.dropdown-item{
  text-align:center;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: larger;
  color: white;
}
.dropdown-menu {
  
  background-color: #0065A1;
 

}


.site-header .nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.site-header .nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
  color: #D6AC29;
}
.overlay-text{
 
  font-size: larger;
  font-weight: 400;
}
.readmore{
  font-family: 'Tajawal', sans-serif;
  font-size: medium;

}
.social .container {
  align-items: flex-start;
  margin-left: -15%;
}

.social .container ul {
  float: left;
  
}

.social .container ul li {
  float: left;
  padding-left: 15px;
  list-style-type: none;
 
}


/*section class text after logo */
.layout-hero {
  margin-top: -10px;
  font-family: 'Almarai', sans-serif;
 
}


.site-header .layout-hero {
  min-height: 50vh;
}

/*------Home Social media section---------------------*/
.layout-social .layout-icon {
  font-size: 2em;
}

/*------About Page---------------------*/
.layout-text {
  font-family: 'Almarai', sans-serif;
  display: inline-block;
  text-align: left;

 
}

/*------About Page section class---------------------*/
.layout-nested  {
  background-color: #9EC6E9;

}


/*------Body Header---------------------*/
.site-nav{
    background-color: #1689CA; 
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    font-family: 'Almarai', sans-serif;

}

@media screen and (max-width: 908px) {
  .site-header .navbar-collapse {
    background-color: #0065A1;
    padding: 10px;
    z-index: 1;
  }
}

/*------Program section class---------------------*/
.layout-nestedprogram{
    background-color:whitesmoke ;
}

/*------Contact Us-----*/
.form-control1{
  background-color: #9EC6E9;
}
.formcont {
  background-color: white;
}
.container{
 
  width: 100%;
  padding: 5%;
  margin-bottom: 10px;
  overflow: auto;
  border-radius: 6px;
 
}
.btnsubmit{
  background-color: #0065A1;
  border-radius: 20px;
  font-size: large;
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  align-items: center;
}



.site-footer{
  background-color: #0065A1;
  font-family: 'Tajawal', sans-serif;
}
.footer-text{
  color: #D6AC29;
  font-family: 'Almarai', sans-serif;
}
.footerp{
  font-size: medium;
  text-align: left;
  margin-left: 25%;
  display: contents;
}

@media screen and (min-width: 768px) {
  #page-floater {
    margin: 150px 0 150px 0;
  }

 
}
