@import url('https://fonts.googleapis.com/css2?family=Almarai:display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*---------------General Text--------------------------------------------------------*/
.Title{
  font-family: 'Almarai', sans-serif;
  font-size: 3.52em;;

}
.Text{
  font-family: 'Almarai', sans-serif;
  text-align: left;
  color:  #1689CA;;
 
}

/*-------Added for missing person inquery pages-------*/


.topMargin{
  margin-top: 10%;
}

.donationForm{
  margin-top: 8%;
  margin-bottom: 5%;
}

.donationDescription{
  margin-left: 2%;
  margin-top: -2%;
}

@media screen and (max-width: 1000px){

  .donationDescription{

    margin-top: 15%

  }

}


.inputBlueBg .form-control, .inputBlueBg .form-select{
  background-color: #9EC6E9 !important;
  border: none;
}

.width-min{
  width: min-content;
}

.btnBlue{
  background-color: #1689CA;
  border-radius: 40px;
  padding: 10px 15px;
}

.btnWhite{
  background-color: white;
  border-radius: 40px;
  padding: 10px 15px;
  border: none;
}

.btnOrange{
  background-color: #D6AC29;
  border-radius: 40px;
  padding: 10px 15px;
}

h1{
  font-family: 'Almarai', sans-serif;
  font-size: 2.5em;;
  font-weight: bold;
}

label{
  font-size: 1.2em;
  font-weight: bold;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.bigImgSize{
  width: 700px;
  border-radius: 5px;
}

.medImgSize{
  width: 470px;
  border-radius: 5px;
}

.bold{
  font-weight: bolder;
}

/*for post images*/
.donationForm .container{
  position: relative;
  width: 100%;
}

.personImg{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.donationForm .container:hover .personImg{
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    opacity: 0.5;
}

.donationForm .container:hover .overlay{
  opacity: 1;
}

/*for founded image*/
.found-logo{
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.foundedImg{
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  filter: brightness(130%) opacity(75%) blur(2px);
}


.bottomLine{
    position: absolute;   
    bottom: 0;
    left: 0;
    text-align: center;
    width:100%;
    
}

.textbar{
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.6em;
  margin-right:0.6em;
  margin-bottom: 0.5em;
  opacity: 0.75;
}


/*----Body---*/

body {
  font-family: 'Tajawal';
  background-image:  url('../images/background-colour.png');
  background-repeat:repeat;
}

.page-section-text{
  font-weight: 400;
  padding-top: 2%;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: large;
  align-content: center;
}

.icon {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125;
  text-rendering: auto;
  fill: gray !important;
  width: 50px;
  height: 50px;
}

/*Full Header*/
header {
  background: url();
  font-family: 'Tajawal', sans-serif;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
 
}
/* Header class */
.site-header .animated {
  animation-delay: 2s;
  animation-duration: 1s;
}

.navbar{
  z-index:1;
}

.site-header  {

  text-align:center;
  font-family: 'Tajawal', sans-serif;
  font-weight:500;
  font-size: x-large;

  position: fixed;
  z-index:1;
}
/*#video-viewport { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden; 
  z-index: -1; 
}
video { 
  display: block; 
  width: 100%; 
  height: auto; 
}

.inner{
  position: relative;
  align-content: flex-end;
  padding-top: 50%;
}*/
.videoBG{
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  border-top: #0065A1;
  
}

.site-header .nav-link {
  position:relative;
  padding-bottom: 0;
  margin-bottom: 2px;
  color: white;
}
.dropdown-item{
  text-align:center;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: larger;
  color: white;
}
.dropdown-menu {
  
  background-color: #0065A1;
 

}


.site-header .nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.site-header .nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
  color: #D6AC29;
}
.overlay-text{
 
  font-size: larger;
  font-weight: 400;
}
.readmore{
  font-family: 'Tajawal', sans-serif;
  font-size: medium;

}
.social .container {
  align-items: flex-start;
  margin-left: -15%;
}

.social .container ul {
  float: left;
  
}

.social .container ul li {
  float: left;
  padding-left: 15px;
  list-style-type: none;
 
}


/*section class text after logo */
.layout-hero {
  margin-top: -10px;
  font-family: 'Almarai', sans-serif;
 
}

.site-header .layout-hero {
  min-height: 50vh;
}

/*------Home Social media section---------------------*/
.layout-social .layout-icon {
  font-size: 2em;
}

/*------About Page---------------------*/
.layout-text {
  font-family: 'Almarai', sans-serif;
  display: inline-block;
  text-align: left;

 
}

/*------About Page section class---------------------*/
.layout-nested  {
  background-color: #9EC6E9;

}


/*------Body Header---------------------*/
.site-nav{
    background-color: #1689CA; 
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    font-family: 'Almarai', sans-serif;

}

@media screen and (max-width: 908px) {
  .site-header .navbar-collapse {
    background-color: #0065A1;
    padding: 10px;
  
  }
}

/*------Program section class---------------------*/
.layout-nestedprogram{
    background-color:whitesmoke ;
}

------Contact Us-----
.form-control1{
  background-color: #9EC6E9;
}
.formcont {
  background-color: white;
}
.container{
 
  width: 100%;
  padding: 5%;
  margin-bottom: 10px;
  overflow: auto;
  border-radius: 6px;
 
}
.btnsubmit{
  background-color: #0065A1;
  border-radius: 20px;
  font-size: large;
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  align-items: center;
}


footer{
  z-index: 1;
}

.site-footer{
  background-color: #0065A1;
  font-family: 'Tajawal', sans-serif;
}
.footer-text{
  color: #D6AC29;
  font-family: 'Almarai', sans-serif;
}
.footerp{
  font-size: medium;
  text-align: left;
  margin-left: 25%;
  display: contents;
}

@media screen and (min-width: 768px) {
  #page-floater {
    margin: 150px 0 150px 0;
  }

 
}


.Error{
  background-color: rgb(252, 71, 71);
  color:white;
  text-align: center;
}