@import url('https://fonts.googleapis.com/css2?family=Almarai:display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

/*---------------General Text--------------------------------------------------------*/
.Title{
  font-family: 'Almarai', sans-serif;
  font-size: 3.52em;;

}
.Text{
  font-family: 'Almarai', sans-serif;
  text-align: left;
  color:  #1689CA;;
 
}

.topMargin{
    margin-top: 10%;
}
  
.reportPersonForm{
    margin-top: 12%;
    margin-bottom: 5%;
}
  
.reportMissingDescription{
    margin-left: 2%;
}

/*-------Added for sign up pages-------*/


.topMargin{
  margin-top: 10%;
}
.greyColour{
    color: #4A4A4A;
}
/*
.text-description{
    color: #D6AC29;
    font-weight: 400;
    font-size: 2.4em;
}
*/
.orangeColour{
    color: #D6AC29;
}
  
.blueColour{
    color: #3E88C5;
}
  
.borderColour{
   border-color: #3E88C5 !important;
}
  
.reg-text {
    font-size: medium;
    font-weight: 300;
}
  
.smallText{
    
    font-weight: 200;
    font-size: small;
}
.consent-text{
    font-weight: 600;
   font-size: small;
}
  
.titleText{
    font-size: 1.5em;
}
  
.inputBlueBg .form-control{
    background-color: #9EC6E9 !important;
    border: none;
}
  
.btnBlue{
    background-color: #1689CA;
    border-radius: 40px;
  
}

  
h1{
    font-family: 'Almarai', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}
  
.ReportMissingPersonform-text{
    font-family: 'Tajawal', sans-serif;
    font-size: 1.3em;
    font-weight:600;
}
.form-text{
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

/*make left side to be fixed and responsive*/
.fixed{
    position: fixed;
    width: 45vh;
}

@media screen and (max-width: 1000px){
    .fixed{
        position: relative;
        width: 80vh;
    }
}
  
  
  /*----------------------------*/
  
  
  /*----Body---*/
  
 body {
    font-family: 'Tajawal';
    background-image:  url('../images/background-colour.png');
    background-repeat:repeat;
}
  
.page-section-text{
    font-weight: 400;
    padding-top: 2%;
    font-family: 'Tajawal', sans-serif;
    font-weight: 300;
    font-size: large;
    align-content: center;
}
.icon {
    display: inline-block;
    font-size: inherit;
    overflow: visible;
    vertical-align: -0.125;
    text-rendering: auto;
    fill: gray !important;
    width: 50px;
    height: 50px;
}

  
header {
    background: url();
    font-family: 'Tajawal', sans-serif;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
  /* Header class */
.site-header .animated {
    animation-delay: 2s;
    animation-duration: 1s;
}
  
.site-header  {
  
    text-align:center;
    font-family: 'Tajawal', sans-serif;
    font-weight:500;
    font-size: x-large;
  
    position: fixed;
    
  }
  /*#video-viewport { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: -1; 
  }
  video { 
    display: block; 
    width: 100%; 
    height: auto; 
  }
  
  .inner{
    position: relative;
    align-content: flex-end;
    padding-top: 50%;
  }*/
.videoBG{
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    border-top: #0065A1;
    
}
  
.site-header .nav-link {
    position:relative;
    padding-bottom: 0;
    margin-bottom: 2px;
    color: white;
}
.dropdown-item{
    text-align:center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 300;
    font-size: larger;
    color: white;
}
.dropdown-menu {
    
    background-color: #0065A1;
   
}
 
  
.site-header .nav-link:before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 2px;
    left: 0;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}
  
.site-header .nav-link:hover:before {
    visibility: visible;
    left: 0;
    transform: scaleX(1);
    color: #D6AC29;
}
.overlay-text{
   
    font-size: larger;
    font-weight: 400;
}
.readmore{
    font-family: 'Tajawal', sans-serif;
    font-size: medium;
  
}
.social .container {
    align-items: flex-start;
    margin-left: -15%;
}
  
.social .container ul {
    float: left;
    
}
  
.social .container ul li {
    float: left;
    padding-left: 15px;
    list-style-type: none;
   
}
.site-footer{
    background-color: #1689CA;
    font-family: 'Tajawal', sans-serif;
    box-shadow: inset 0px 0px 20px  #4A4A4A
}

.footer-text{
    color: #D6AC29;
    font-family: 'Almarai', sans-serif;
}
.footerp{
    font-size: medium;
    text-align: left;
    margin-left: 25%;
    display: contents;
}
.copyright{
    font-family: 'Tajawal', sans-serif;
    font-weight: 200;
    font-size: small;
    text-align: right;
}

.Error{
    background-color: rgb(252, 71, 71);
    color:white;
    text-align: center;
  }